@import url("https://fonts.cdnfonts.com/css/first-job");
@import url("https://fonts.cdnfonts.com/css/valorant");
@import url("https://fonts.cdnfonts.com/css/xifiction");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto:wght@400;900&display=swap");

:root {
  // fonts
  --highlight-font: "VALORANT", sans-serif;
  --primary-font: "Roboto", sans-serif;
  --name-font: "First Job", sans-serif;
  --btn-font: "Fredoka", sans-serif;
  --role-font: "Xifiction", sans-serif;

  // color
  --red: #ff4655;
  --yellow: #fde400;
  --white: #fff;
  --black: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.172;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 20px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
main {
  --bg-color: var(var(--white));
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  transform-origin: center center;
  transition: background-color .15s ease-in-out;
}

h1 {
  --stroke-width: clamp(0.2px, 0.1vw, 10.6px);
  --stroke-width-negative: calc(-1 * var(--stroke-width));
  color: var(--white);
  font-family: var(--highlight-font);
  line-height: 1.1;
  font-size: clamp(36px, 11vw, 10.7vw);
  text-transform: uppercase;
  text-align: center;
  text-shadow: var(--stroke-width) 0 var(--red),
    var(--stroke-width-negative) 0px var(--red),
    0 var(--stroke-width) var(--red),
    0px var(--stroke-width-negative) var(--red);
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  &::before {
    content: attr(title);
    position: absolute;
    inset: 0;
    scale: 1.87;
    z-index: -1;
    opacity: 0.1;
  }
  &::after {
    content: attr(title);
    position: absolute;
    inset: 0;
    scale: 1.55;
    z-index: -1;
    // opacity: 0.1;
    color: rgba(255, 246, 247, 1);
    text-shadow: none;
  }
}

.large__logo {
  position: absolute;
  width: 52%;
  scale: 0.52;
  transition: scale 0.5s cubic-bezier(0.38, 1.19, 0.87, 1.14);
}

.hero__image {
  position: absolute;
  bottom: 0;
  scale: .35;
  transform-origin: bottom;
  transition: scale 0.5s cubic-bezier(0.38, 1.19, 0.87, 1.14);
  inset: 0;
}
